*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #f0f2f5;
    --secondary-color: #f83e7c;
    --light-color: #fff;
    --dark-color: #373737;
    --font-color: #6c757d;
    --font-color2: #344767;
    --green-color: #5fd265;
    --blue-color: #49a3f1;
    --mode-font: #aaafb3;
    --mode-background: #27344a;
}

#notification-section{
    .container1, .container2{
        background: var(--light-color);
        border-radius: 10px;
        margin: 4rem 0.5rem 0.5rem 0.5rem;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
        padding: 1rem;
        color: var(--light-color);
    }

    .container1{
        margin-bottom: 1rem;

        h2{
            color: var(--font-color2);
            font-size: 1.4rem;
            margin: 0.5rem 0 2.5rem 0;
        }

        .alert{
            .note{
                background: var(--dark-color);
                margin: 1rem 0;
                border-radius: 10px;
                padding: 1rem;
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                align-items: baseline;
                line-height: 25px;
                font-size: 0.9rem;
                animation: opac 2s forwards paused;

                i{
                    margin-right: 0.5rem;
                    cursor: pointer;
                }

                &:nth-child(1){
                    background: #f8bcd0;
                }
                &:nth-child(2){
                    background: #4a4d5c;
                }
                &:nth-child(3){
                    background: var(--green-color);
                }
                &:nth-child(4){
                    background: #e53935;
                }
                &:nth-child(5){
                    background: #fb8c00;
                }
                &:nth-child(6){
                    background: #1a73e8;
                }
                &:nth-child(7){
                    background: #ced4da;
                    color: var(--font-color2);
                }
            }

            @keyframes opac {
                0%{
                    opacity: 1;
                }

                100%{
                    opacity: 0;
                }
            }
        }
    }

    .container2{
        margin-top: 1.5rem;
        .header{
            margin: 0.5rem 0 2.5rem 0;

            h2{
                color: var(--font-color2);
                font-size: 1.3rem;
                margin-bottom: 0.5rem;
            }

            p{
                color: var(--font-color2);
                font-size: 0.9rem;
            }
        }

        .btn{
            button{
                display: block;
                text-align: center;
                margin: 0.5rem 0;
                padding: 0.8rem 0;
                width: 100%;
                text-align: center;
                border-radius: 10px;
                border: none;
                background: var(--green-color);
                color: var(--light-color);
                text-transform: uppercase;

                &:nth-child(2){
                    background: #1a73e8;
                }
                &:nth-child(3){
                    background: #fb8c00;
                }
                &:nth-child(4){
                    background: #e53935;
                }
            }
        }
    }

    .container3{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 85%;

        .notal{
            padding: 1.5rem;
            color: var(--font-color);
            margin: 0.5rem 0;
            background: var(--light-color);
            border-radius: 10px;
            font-size: 0.9rem;
            display: none;
            box-shadow: -2px -2px 5px rgb(0, 0, 0, 0.2);

            .header{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .he1{
                    display: flex;
                    gap: 1rem;
                    align-items: center;

                    .fa-check{
                        color: var(--green-color);
                    }

                    .fa-compass{
                        color: #fb8c00;
                    }

                    h3{
                        color: var(--font-color2);
                    }
                }

                .he2 span{
                    margin-right: 5px;
                }
            }

            .line{
                width: 70%;
                height: 1px;
                background: #c7c0c0;
                margin: 1rem auto;
                border-radius: 10px;
            }

            &:nth-child(2){
                background: #1a73e8;
                color: var(--light-color);

                .header{
                    .he1{
                        h3{
                            color: var(--light-color);
                        }
                    }
                }
                
                .line{
                    background: #c7c0c0;
                }
            }

            &:nth-child(4){
                .header .he1{
                    i, h3{
                        color: #e53935;
                    }
                }
            }
        }
    }
}

//Media Queries
@media screen and (min-width: 768px) {
    #notification-section{
        max-width: 80%;
        margin: 0 auto;

        .container1 .alert .note{
            align-items: center;
        }

        .container2{
            .btn{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 0.5rem 1rem;

                button{
                    margin: 0;
                }
            }
        }

        .container3{
            width: 50%;
        }
    }
}

@media screen and (min-width: 914px) {
    #notification-section{
        .container3{
            width: 40%;
        }
    }
}

@media screen and (min-width: 990px) {
    #notification-section{
        max-width: 67%;

        .container2{
            .btn{
                grid-template-columns: repeat(4, 1fr);

                button{
                    margin: 0;
                }
            }
        }
        .container3{
            width: 37%;
        }
    }
}

@media screen and (min-width: 1200px) {
    #notification-section{
        .container3{
            width: 29%;
        }
    }
}