*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #f0f2f5;
    --secondary-color: #f83e7c;
    --light-color: #fff;
    --dark-color: #373737;
    --font-color: #6c757d;
    --font-color2: #344767;
    --green-color: #5fd265;
    --blue-color: #49a3f1;
}

body{
    background: var(--primary-color);
    transition: all 0.4s;

    &::-webkit-scrollbar {
        width: 0.4rem;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 100vw;
    }
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 100vw;

        &:hover{
            background: var(--font-color);
        }
    }

    &:hover{
        &::-webkit-scrollbar-thumb {
            background: #b2b5b9;
        }
    }
}

#main-nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.5s;
    transform: translate(-100%);

    .container{
        height: 96vh;
        width: 60%;
        color: var(--primary-color);
        background: var(--dark-color);
        margin: 1rem;
        padding: 1.5rem 1rem;
        padding-right: 0;
        border-radius: 10px;
        position: relative;
        transition: all 0.4s;

        .img-header{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding-left: 10px;
    
            .img-logo{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                padding-right: 15px;
    
                i{
                    border: 1px solid white;
                    text-align: center;
                    padding: 3px 4px;
                    font-size: 0.5rem;
                }
    
                i:last-child{
                    grid-column: 1/3;
                    width: 50%;
                    margin: 0 auto;
                }
            }
    
            .fa-xmark{
                position: absolute;
                right: 15px;
                top: 15px;
                color: #a6abaf;
            }
        }
    
        .line{
            width: 70%;
            height: 1px;
            background: var(--font-color);
            margin: 20px auto;
            border-radius: 10px;
        }
    
        .nav-list{
            overflow-y: scroll;
            height: 60vh;
    
            &::-webkit-scrollbar {
                width: 0.5rem;
            }
            &::-webkit-scrollbar-track {
                background: transparent;
                border-radius: 100vw;
            }
            &::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 100vw;
        
                &:hover{
                    background: var(--font-color);
                }
            }
        
            &:hover{
                &::-webkit-scrollbar-thumb {
                    background: #b2b5b9;
                }
            }
            
            ul{
                list-style: none;
    
                li{
                    padding: 15px;
    
                    i{
                        padding-right: 15px;
                        font-size: 1rem;
                    }
    
                    a{
                        text-decoration: none;
                        color: var(--primary-color);
                        font-size: 0.9rem;
                    }
                }
    
                .current{
                    background-color: var(--secondary-color);
                    border-radius: 10px;
                    transition: all 0.4s;
                }
            }
    
            h5{
                margin: 20px 0;
            }
        }
    
        .bottom-list{
            position: absolute;
            bottom: 10px;
            right: 1.5rem;
            left: 1.5rem;
            background: var(--dark-color);
    
            a{
                display: block;
                color: var(--secondary-color);
                text-decoration: none;
                text-align: center;
                border: 1px solid var(--secondary-color);
                padding: 10px 0;
                margin: 10px 0;
                font-size: 0.8rem;
                border-radius: 8px;
                transition: all 0.4s;
            }
    
            a:last-child{
                background-color: var(--secondary-color);
                color: var(--primary-color);
                border: none;
            }
        }
    }
}

#main-header{
    transition: all 0.4s;

    .container{
        color: var(--font-color);
        margin: 1.5rem 2rem;
        transition: all 0.4s;

        .pry-cont{
            margin-bottom: 20px;

            div{
                line-height: 30px;
    
                .fade{
                    color: var(--font-color2);
                    padding-left: 5px;
                }
            }

            h4{
                color: var(--font-color2);
            }
        }

        div ul{
            list-style: none;
            display: flex;
            align-items: center;
            gap: 18px;

            .online, .sign, .input-in input{
                display: none;
            }
            .input input{
                width: 55px;
                padding: 10px;
                background: transparent;
                outline: none;
                border: 1px solid #adb5bd;
                border-radius: 5px;
                font-size: 1rem;
            }

            .star{
                display: flex;

                span:first-child{
                    padding: 5px;
                    border: 1px solid #adb5bd;
                    border-radius: 5px 0 0 5px;
                    font-weight: bold;
                    border-right: none;
                    color: var(--font-color2);

                    i{
                        
                        padding-right: 5px;
                    }
                }

                span:last-child{
                    padding: 5px;
                    background: var(--light-color);
                    color: blue;
                    border: 1px solid #ced4da;
                    border-radius: 0 5px 5px 0;
                }
            }

            li .fa-bell, li .fa-user{
                font-weight: bold;
                color: var(--font-color);
            }
        }
    }
}

#first-section{
    transition: all 0.4s;

    .container{
        margin: 3rem 1rem;
        transition: all 0.4s;

        .card{
            margin-bottom: 1.8rem;
            background: var(--light-color);
            position: relative;
            color: var(--font-color);
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);

            .img-cont{
                position: absolute;
                top: -18px;
                left: 15px;
                background: var(--dark-color);
                padding: 22px 25px;
                border-radius: 10px;
                box-shadow:2px 3px 15px rgb(0, 0, 0, 0.3);

                i{
                    color: var(--light-color);
                }
            }

            .img-cont2{
                background: var(--secondary-color);
            }
            .img-cont3{
                background: var(--green-color);
            }
            .img-cont4{
                background: var(--blue-color);
            }

            .pe{
                text-align: end;
                margin-bottom: 5px;
            }

            h3{
                text-align: end;
                color: var(--font-color2);
            }

            .line{
                width: 70%;
                height: 2px;
                background: var(--primary-color);
                margin: 20px auto;
                border-radius: 10px;
            }

            p span{
                color: var(--green-color);
                font-weight: bold;
                padding-right: 3px;
            }

            .low-rate{
                color: var(--secondary-color);
            }
        }
    }
}

#second-section{
    transition: all 0.4s;

    .container{
        margin: 3.2rem 1rem;
        transition: all 0.4s;

        .card{
            margin-bottom: 2.8rem;
            background: var(--light-color);
            position: relative;
            color: var(--font-color);
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
            padding-top: 220px;

            .img-cont{
                position: absolute;
                top: -25px;
                left: 18px;
                right: 18px;
                background: var(--dark-color);
                padding: 30px 25px;
                border-radius: 15px;
                color: var(--primary-color);
                font-weight: 100;
                font-size: 0.8rem;
                box-shadow:2px 3px 15px rgb(0, 0, 0, 0.3);

                .graph{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding-bottom: 20px;

                    .graph-line{
                        width: 100%;
                        height: 5px;
                        border-bottom: 1px dashed var(--light-color);
                    }
                }

                .days{
                    margin-left: 30px;
                    display: flex;
                    justify-content: space-between;
                }
            }

            .img-cont1{
                background-color: var(--secondary-color);
            }

            .img-cont2{
                background: var(--green-color);
            }

            h4{
                color: var(--font-color2);
                padding-bottom: 5px;
            }

            .line{
                width: 70%;
                height: 2px;
                background: var(--primary-color);
                margin: 20px auto;
                border-radius: 10px;
            }

            i{
                padding-right: 5px;
            }
        }
    }
}

#third-section{
    transition: all 0.4s;

    .container1{
        margin: 3.2rem 1rem 2rem 1rem;
        padding: 2rem 0 0.7rem 0;
        color: var(--font-color);
        background: var(--light-color);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
        transition: all 0.4s;
        position: relative;

        .projects{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 30px;

            h4{
                margin-bottom: 10px;
                color: var(--font-color2);
            }

            p{
                font-size: 0.9rem;

                i{
                    color: blue;
                    padding-right: 5px;
                }

                span{
                    font-weight: bold;
                }
            }

            div {
                .fa-ellipsis-vertical{
                    padding-right: 30px;
                }

                ul{
                    position: absolute;
                    list-style: none;
                    right: 30px;
                    top: 100px;
                    font-size: 0.9rem;
                    font-weight: 400;
                    padding: 15px 30px;
                    border-radius: 10px;
                    background-color: var(--light-color);
                    box-shadow:  5px 5px 5px rgb(0, 0, 0, 0.1);
                    transition: all 0.6s;
                    opacity: 0;

                   li{
                        margin: 10px 0;

                        a{
                            text-decoration: none;
                            color: var(--font-color);
                        }
                   }
                }
            }
        }

        .table{
            display: flex;
            align-items: center;
            border-top: 1px solid var(--primary-color);
            padding: 15px 0 15px 40px;

            .companies{
                display: flex;
                align-items: center;
                gap: 15px;
                width: 45%;

                img{
                    width: 40px;
                }

                h4{
                    color: var(--font-color2);
                    font-size: 0.9rem;
                }
            }

            .members{
                width: 20%;
                position: relative;
                top: -10px;

                img{
                    width: 25px;
                    border-radius: 50%;
                    border: 2px solid var(--light-color);
                }

                img:nth-child(1){
                    position: absolute;
                    top: 0;
                    left: 0;
                }

                img:nth-child(2){
                    position: absolute;
                    top: 0;
                    left: 13px;
                }
                img:nth-child(3){
                    position: absolute;
                    top: 0;
                    left: 26px;
                }
                img:nth-child(4){
                    position: absolute;
                    top: 0;
                    left: 39px;
                }
            }

            .budget{
                width: 15%;
                font-size: 0.8rem;
                font-weight: bold;
            }

            .completion{
                width: 20%;

                p{
                    font-size: 0.8rem;
                    font-weight: bold;
                    padding-bottom: 5px;
                }

                .progress{
                    height: 3px;
                    width: 80%;
                    border-radius: 20px;
                    background: var(--primary-color);

                    div{
                        height: 100%;
                        background: var(--blue-color);
                    }

                    .full{
                        background: var(--green-color);
                    }
                }
            }
        }

        .table-header{
            font-size: 0.7rem;
            font-weight: 500;
            color: #adb0b4;
            border: none;

            .members{
                top: 0;
            }

            .budget, .completion{
                font-weight: 500;
                font-size: 0.7rem;
            }
        }
    }

    .container2{
        margin:0 1rem;
        padding: 2rem 2rem 0 2rem;
        color: var(--font-color);
        background: var(--light-color);
        border-radius: 10px;
        box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
        transition: all 0.4s;

        .container-header{
            margin-bottom: 20px;
            h4{
                color: var(--font-color2);
                padding-bottom: 10px;
            }

            p{
                font-size: 0.9rem;

                i{
                    color: rgb(16, 128, 16);
                }

                span{
                    font-weight: bold;
                }
            }
        }

        .lists{
            float: left;
            
            i{
                padding: 8px 0;
            }

            .fa-bell{
                color:rgb(16, 128, 16);
                padding-left: 3px;
            }

            .fa-code,
            .fa-key{
                color: var(--secondary-color);
            }

            .fa-cart-shopping{
                color: var(--blue-color);
            }

            .fa-credit-card{
                color: orange;
            }

            .fa-key{
                transform: rotate(45deg);
            }

            .fa-vr-cardboard{
                color: var(--dark-color);
            }

            .line{
                width: 2px;
                height: 35px;
                background: #adb5bd;
                border-radius: 10px;
                margin: 0 auto;
            }

            .last-child{
                height: 20px;
            }
        }

        .price{
            padding-top: 4px;
            margin-left: 40px;

            h4{
                font-size: 0.9rem;
                color: var(--font-color2);
                padding-bottom: 5px;
            }

            p{
                font-size: 0.8rem;
                font-weight: bold;
                padding-bottom: 29px;
            }
        }

        .clear{
            clear: both;
        }
    }
}

#main-footer{
    transition: all 0.4s;

    .container{
        text-align: center;
        color: var(--font-color);
        margin: 3rem 0;
        transition: all 0.4s;

        p{
            font-size: 0.9rem;
            word-spacing: 2px;
        }

        ul{
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            list-style: none;
            gap: 30px;

            a{
                text-decoration: none;
                font-size: 0.9rem;
                color: var(--font-color);
            }
        }
    }
}

#right-sidebar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 13%;
    z-index: 10;
    transition: all 0.5s;
    transform: translate(100%);

    .container{
        height: 100vh;
        width: 87%;
        color: var(--font-color);
        background: var(--light-color);
        padding: 2rem;
        position: relative;

        .section-header{
            h2{
                color: #344767;
                font-size: 1.2rem;
                padding-bottom: 5px;
            }

            i{
                position: absolute;
                right: 30px;
                top: 25px;
            }
        }

        .line{
            width: 70%;
            height: 2px;
            background: var(--primary-color);
            margin: 20px auto;
            border-radius: 10px;
        }

        h4{
            color: #344767;
            padding-bottom: 10px;
        }

        .sidebar-colors{
            display: flex;
            gap: 15px;
            margin-bottom: 20px;

            span{
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: var(--secondary-color);
            }

            span:nth-child(2){
                background: #c553c5;
            }
            span:nth-child(3){
                background: var(--blue-color);
            }
            span:nth-child(4){
                background: var(--green-color);
            }
            span:nth-child(5){
                background: #e19507;
            }
            span:nth-child(6){
                background: #ea4e15ed;
            }
        }

        p{
            font-size: 0.9rem;
            margin-bottom: 25px;
        }

        .type{
            margin-bottom:20px;

            button{
                padding: 0.8rem 1.2rem;
                border: none;
                background: var(--font-color);
                color: var(--primary-color);
                border-radius: 8px;
                margin-right: 5px;
                font-size: 0.7rem;
                font-weight: 900;
            }
        }

        .toggle{
            display: flex;
            justify-content: space-between;
            align-items: center;

            p{
                margin-bottom: 0;
            }

            span{
                width: 32px;
                height: 15px;
                border-radius: 30%;
                background: #bdc3c7;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    top: -3px;
                    left: -2px;
                    width: 19px;
                    height: 19px;
                    background: var(--light-color);
                    border: 1px solid #bdc3c7;
                    border-radius: 50%;
                }
            }
        }

        .lightmode{
            span{
                transition: all 0.5s;

                &::before{
                    transition: all 0.5s;
                }
            }
        }

        .bttn{
            a{
                display: block;
                color: var(--font-color);
                text-decoration: none;
                text-align: center;
                border: 1px solid var(--font-color);
                padding: 12px 0;
                margin: 15px 0;
                font-size: 0.8rem;
                border-radius: 8px;
            }
    
            a:first-child{
                background-color: var(--blue-color);
                color: var(--primary-color);
                border: none;
            }
        }

        .rating{
            .star{
                display: block;
                width: 25%;
                text-decoration: none;
                background: var(--primary-color);
                border: 1px solid #bdc3c7;
                color: var(--font-color);
                padding: 3px 0;
                margin: 10px auto 20px auto;
                text-align: center;
                border-radius: 5px;
    
                i{
                    padding-right: 5px;
                }
            }

            span{
                display: none;
            }
        }

        .align{
            text-align: center;
            font-weight: bold;
        }

        .socials{
            text-align: center;

            a{
                text-decoration: none;
                color: var(--light-color);
                background: #344767;
                padding: 12px 25px;
                border-radius: 8px;
                font-size: 0.7rem;
                margin-right: 5px;
                font-weight: bold;

                i{
                    padding-right: 5px;
                }
            }
        }
    }
}

#material-section{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--light-color);
    color: var(--font-color2);
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.2);
    padding: 0.9rem 1rem;
    border-radius: 50%;
    font-size: 1.1rem;
    cursor: pointer;
}


//MEDIA QUERIES

@media screen and (min-width: 440px) {
    #main-nav{
        width: 420px;
    }

    #right-sidebar{
        width: 420px;
        left: calc(100% - 353px);
    }
}

@media screen and (min-width: 576px){
    #main-header{
        .container{
            div ul{
                .input input{
                    font-size: 0.8rem;
                    padding: 7px 10px;
                }
                .online{
                    display: block;
                    border: 1px solid var(--secondary-color);
                    color: var(--secondary-color);
                    border-radius: 10px;
                    padding: 7px 10px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-size: 0.8rem;
                }

                .star{
                    font-size: 0.8rem;
                }
            }
        }
    }

    #first-section{
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 25px;
        }
    }
}

@media screen and (min-width: 670px) {
    #main-header{
        .container{
            div ul{
                .sign{
                    display: block;

                    a{
                        text-decoration: none;
                        color: var(--font-color);
                        font-weight: bold;
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 770px) {
    #main-header{
        .container{
            .pry-cont{
                div{
                    font-size: 0.9rem;
                    line-height: 25px;
                }
                
                h4{
                    font-size: 1rem;
                }
            }

            div ul{
                .input{
                    display: none;
                }

                .input-in input{
                    display: block;
                    padding: 10px;
                    background: transparent;
                    outline: none;
                    border: 1px solid #adb5bd;
                    border-radius: 5px;
                    font-size: 0.9rem;
                }
            }
        }
    }

    #second-section{
        .container{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 25px;
            margin-bottom: 0;

            .card:last-child{
                margin-bottom: 1.2rem;
            }
        }
    }

    #third-section{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 10px;
        margin: 0 17px;

        .container1, .container2{
            margin: 0;
        }
    } 
}

@media screen and (min-width: 895px) {
    #main-header{
        .container{
            .pry-cont{
               margin-bottom: 0;
            }
            display: flex;
            justify-content: space-between;
            
        }
    }
}

@media screen and (min-width: 990px) {
    #second-section{
        .container{
            grid-template-columns: repeat(3, 1fr);

            .card, .card:last-child{
                margin-bottom: 1.5rem;
            }
        }
    }

    #third-section{
        grid-template-columns: 66% 32%;
        grid-gap: 25px;
    }

    #main-footer{
       .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 3rem 20px;

            ul{
                margin: 0;
                gap: 20px;
           }
       }
    }
}

@media screen and (min-width: 1200px) {
    body{
        position: relative;
        width: calc(100% - 270px);
        left: 270px;
    }

    #main-nav{
        transform: translate(0);
        //float: left;
    
        .container{
            height: 96vh;
            width: 60%;
            color: var(--primary-color);
            background: var(--dark-color);
            margin: 1rem;
            padding: 1.5rem 1rem;
            padding-right: 0;
            border-radius: 10px;
            position: relative;
        }
    
        .img-header{
    
            .fa-xmark{
               display: none;
            }
        }
    }

    .main-nav2{

        .container{
            color: var(--font-color) !important;
            background: none !important;
            transition: all 0.4s;
    
            .img-header{
                .img-logo{
                    i{
                        border: 1px solid var(--font-color) !important;
                        color: var(--font-color) !important;
                    }
                }
            }
        
            .line{
               visibility: hidden !important;
            }
    
            .nav-list{
                ul{   
                    li{
                        a{
                            color: var(--font-color) !important;
                        }
                    }
                } 
            }
    
            .bottom-list{
                background: none !important;
            }
        }
    }

    .main-nav3{
        .container{
            color: var(--font-color2) !important;
            background: var(--light-color) !important;
            transition: all 0.4s;
    
            .img-header{
                .img-logo{
                    i{
                        border: 1px solid var(--font-color2) !important;
                        color: var(--font-color2) !important;
                    }
                }
            }
        
            .line{
               visibility: hidden !important;
            }
    
            .nav-list{
                ul{   
                    li{
                        a{
                            color: var(--font-color2) !important;
                        }
                    }
                } 
            }
    
            .bottom-list{
                background: none !important;
            }
        }
    }

    #main-header{
        .container{
            div ul{
                .open{
                    display: none;
                }
            }
        }
    }
    
    #first-section{
        .container{
            display: grid;
            grid-template-columns: repeat(4, 1fr);

            .card{
                margin-bottom: 0;
            }
        }
    }

    #third-section .container1 .projects{

        div {
            i{
                font-size: 1.5rem;
            }

            ul{
                right: -100px;
                top: 90px;
                box-shadow:  5px 5px 15px rgb(0, 0, 0, 0.3);
                font-weight: 500;
            }
        }
    }

    #right-sidebar{
        .container{
           
            .change{
               display: none;
            }
    
            .type{
    
                button{
                    border: 1px solid var(--dark-color);
                    background: var(--light-color);
                    color: var(--font-color2);
                    box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.5);
                    transition: all 0.5s;

                    &:hover{
                        box-shadow: 3px 3px 7px rgb(0, 0, 0, 0.5);
                    }

                    &:focus{
                        background: var(--dark-color);
                        color: var(--primary-color);
                    }
                }
            }
    
            .rating{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px 0 20px 0;
                font-size: 0.8rem;
                font-weight: bold;
                
                .star{
                    width: 25%;
                    border: none;
                    color: var(--dark-color);
                    padding: 7px 10px;
                    margin: 0;
                    border-radius: 5px 0 0 5px;
                    border: 1px solid #bdc3c7;
                }
                
                span{
                    display: block;
                    background: var(--light-color);
                    color: var(--dark-color);
                    padding: 7px 10px;
                    border-radius: 0 5px 5px 0;
                    border: 1px solid #bdc3c7;
                    border-left: none;
                }
            }
        }
    }
}


//DARK MODE

.dark-mode{
    background: #212c3e;
    transition: all 0.4s;

    #main-nav{
        transition: all 0.4s;

        .container{
            color: var(--light-color);
            background: #293448;
            transition: all 0.4s;
    
            .img-header{
                .img-logo{
                    i{
                        border: 1px solid var(--light-color);
                        color: var(--light-color);
                        transition: all 0.4s;
                    }
                }
            }
        
            .line{
               visibility: hidden;
            }
    
            .nav-list{
                ul{   
                    li{
                        a{
                            color: var(--light-color);
                            transition: all 0.4s;
                        }
                    }
                } 
            }
    
            .bottom-list{
                background: none;
            }
        }
    }

    #main-header{
        .container{
            .pry-cont{
                div{
                    .fade{
                        color: var(--light-color);
                    }
                }
    
                h4{
                    color: var(--light-color);
                }
            }
    
            div ul{
                .input input::placeholder{
                    color: var(--light-color) ;
                }
    
                .star{
                    span:first-child{
                       background: var(--primary-color);
                    }
    
                    span:last-child{
                        color: var(--font-color);
                    }
                }
            }
        }
    }

    #first-section{
        .container{
            .card{
                background: #27344a;
                color: #aaafb3;
    
                .img-cont1{
                    background:#293448;
                }

                h3{
                    color: var(--light-color);
                }
    
                .line{
                    height: 1px;
                    background: #76797b;
                }
            }
        }
    }
    
    #second-section{
        .container{
            .card{
                background: #27344a;
                color: #aaafb3;
    
                h4{
                    color: var(--light-color);
                }
    
                .line{
                    height: 1px;
                    background: #76797b;
                }
    
                i{
                    color: var(--primary-color);
                }
            }
        }
    }

    #third-section{
        .container1{
            color: #aaafb3;
            background: #27344a;
    
            .projects{
                h4{
                    color: var(--light-color);
                }
    
                div {
                    .fa-ellipsis-vertical{
                        color: var(--light-color);
                    }
                }
            }
    
            .table{
                border-color: var(--font-color);

                .companies{
                    h4{
                        color: var(--light-color);
                    }
                }
            }
    
            .table-header{
                font-weight: 900;

                .budget, .completion{
                    font-weight: 900;
                }
            }
        }
    
        .container2{
            color: #aaafb3;
            background: #27344a;
    
            .container-header{
                h4{
                    color: var(--light-color);
                }
            }
    
            .lists{
                margin-right: 15px;
                i{
                    padding: 8px;
                    border-radius: 50%;
                    background: var(--light-color);
                }
    
                .fa-bell{
                    padding: 8px 10px 8px 10px;
                }
    

                .line{
                   background: var(--light-color);
                }
            }
    
            .price{
                h4{
                    color: var(--light-color);
                }
            }
        }
    }
    
    #main-footer{
        .container{
            p{
                span{
                    color: var(--light-color);
                    font-weight: 900;
                }
            }
        }
    }
    

    #right-sidebar{
        .container{
            color: #aaafb3;
            background: #27344a;
    
            .section-header{
                h2{
                    color: var(--light-color);
                }
    
                i{
                   color: var(--light-color);
                }
            }
    
            .line{
              visibility: hidden;
            }
    
            h4{
                color: var(--light-color);
            }
    
            p{
                font-size: 0.9rem;
            }
    
            .type{
    
                button{
                    background: transparent;
                    color: var(--light-color);
                    box-shadow: 1px 2px 3px var(--font-color), 1px 1px 3px var(--font-color) inset;
                }
            }
    
            .toggle{
                p{
                    color: var(--light-color);
                    font-weight: bold;
                }
            }

            .toggle-line{
                visibility: visible;
                height: 1px;
                background: #76797b;
            }

            .lightmode{
                span{
                    transition: all 0.5s;
                    background: #474646;
    
                    &::before{
                        transition: all 0.5s;
                        transform: translate(80%);
                    }
                }
            }
    
            .bttn{
                a{
                    color: var(--light-color);
                    border: 1px solid var(--light-color);

                    &:first-child{
                        border: none;
                    }
                }
            }
    
            .align{
                color: var(--light-color);
            }
        }
    }
    
    @media screen and (min-width: 1200px) {

        #main-header{
            .container{
                div ul{
                    .input-in input::placeholder{
                       color: var(--light-color);
                    }
                }
            }
        }
    
        .main-nav2{
            .container{
                color: var(--light-color) !important;
                transition: all 0.4s;
        
                .img-header{
                    .img-logo{
                        i{
                            color: var(--light-color) !important;
                            transition: all 0.4s;
                        }
                    }
                }
        
                .nav-list{
                    ul{   
                        li{
                            a{
                                color: var(--light-color) !important;
                                transition: all 0.4s;
                            }
                        }
                    } 
                }
            }
        }

        .main-nav3{
            .container{
                color: var(--font-color2) !important;
                transition: all 0.4s;
        
                .img-header{
                    .img-logo{
                        i{
                            color: var(--font-color2) !important;
                            transition: all 0.4s;
                        }
                    }
                }
        
                .nav-list{
                    ul{   
                        li{
                            a{
                                color: var(--font-color2) !important;
                                transition: all 0.4s;
                            }
                        }
                    } 
                }
            }
        }
    
        #right-sidebar{
            .container{
                .type{
        
                    button{
                        &:focus{
                            color: #27344a;
                            background: var(--light-color);
                            border: none;
                        }
                    }
                }
            }
        }
        
    }
}
